h2{
    font-size: 1.5rem;
}
.todo-form {
    padding: 20px;
    border-radius: 10px; display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: transparent;
    margin: 0 40px 40px 40px;
    border: solid 1px;
    border-color: #302c2c;
    box-shadow: 1rem;
    box-shadow: 0px 15px 15px 0px rgba(0, 0, 0, 0.35);
}

.todo-form__title {
    text-align: center;
}
.todo-form__section{
    border: none;
    margin: 0;
    padding: 0;
    
}
.todo-form__input {
    outline-style: none;
    outline: none;
    background-color: transparent;
}
input, textarea {
    border: none;
    outline: none;
    padding: 15px;
    border-radius: 10px;
}

.someinput{
    background-color: transparent;
    font-size: 1rem;
}
#nombre_tarea{
    font-size: 2rem;
    font-weight: 600;
    font-family: inter;

}
#description{
    margin: -1rem 0 -2.5rem 0;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: inter;
    resize: none;
    width: 70%;
}
#fecha{
    right: 0;
    margin: 0rem ;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: inter;
    color: #757575;
    width: 35%;
}
#checkbox {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 1rem;
}